<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thanks For submitting the form</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-weight: 400;
            font-family: 'fira code';
        }

        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
        }
    </style>
</head>

<body>
    <h1>Thank You For submitting the form !!!</h1>
    <div>
        <a href="{% url 'hello_file' %}">Go to Home !!!</a>
    </div>
</body>

</html>