{% extends "base.html" %}

{% block title %}Post of {{job_title}}{% endblock title %}

{% block content %}
  <section>
    <div class="container">
      <div class="view-post">
        <h1 class="jobtitle">
          {{job_title}}
        </h1>
        <p class="location it">Location: <span>{{ job.location.city }}</span></p>
        <p class="status it">Type: <span>{{ job.type }}</span></p>
        <p class="budget it">Salary: <span>{{job_salary}} ₹</span></p>
        <div class="desc">
          
          <p class="details">
            <h3>
              {{job_description}}
            </h3>
            maiores nostrum saepe iste adipisci voluptate libero ipsa
            deserunt. Ab, veritatis id.Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Modi, incidunt iste?
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
