*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

.jobs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;

}

.jobs li{
    padding: 10px;
    border-bottom: 1px solid gray;
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

a{
    text-decoration: none;
}